<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>EMAIL</th>
      <th>ROLE</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
    </tr>
<% end %>
  </tbody>
</table>