// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-tag {
  padding-top: 10px;
}

// body {
// margin-top: 20px;
// }

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.profile-img {
  border-radius: 50%;
  margin-right: 10px;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}

.lol-error{
  border: 1px red solid;
}